body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 0;
  border-radius: 10px;
  background-color: darkslategray;
  width: 60%;
  height: 100ch;
  min-width: 375px;
  
  
}

.display {
  display: flex;
  flex-direction: column ;
  height: 40%;
}

.buttons {
 display: flex;
 flex-direction: column;
  
}

.row {
  display: flex;
  justify-content: space-evenly;

}

.buttoncontainer {
  justify-content: center;
  width: 25%;
}

.button {
  
  color: white;
  background-color: coral;
  border: solid black 1px;
  border-radius: 10px;
  font-size: xx-large;
  padding: 20px;
  margin: 9px;
  text-align: center;
}

#clear {
  width: 75%;
}

#clearbutton {
  text-align: left;
  background-color: rgb(0, 136, 214);
}

#equals {
  width: 50%;
}
#equalsbutton {
  background-color: rgb(2, 131, 8);
}

#operator {
  background-color: rgb(0, 162, 255);
}